
<mat-toolbar class="toolbar">

  <mat-toolbar-row>
    <h3><a href="/" style="text-decoration:none; color: white;">Realm</a></h3>
    <span class="spacer-toolbar"></span>
    <mat-icon class="toolbar-icon"><a style="text-decoration:none; color: gold;" routerLink="/app">home</a></mat-icon>
    <mat-icon class="toolbar-icon"><a style="text-decoration:none; color: white;" routerLink="check-answer">comment </a></mat-icon>
    <mat-icon class="toolbar-icon"><a style="text-decoration:none; color: white;" routerLink="profile">person_outline</a></mat-icon>
    
    <mat-icon class="toolbar-icon" (click)="logout()" aria-label="logout ">exit_to_app</mat-icon>
  </mat-toolbar-row>

</mat-toolbar>

<div class="content" role="main">

<router-outlet>

  <!-- EVERY Route goes here-->
  
  
</router-outlet>
</div>



