
<mat-toolbar class="toolbar">

  <mat-toolbar-row>
    <span>Realm</span>
    <span class="spacer-toolbar"></span>
    <mat-icon class="toolbar-icon"><a style="text-decoration:none; color: gold;" routerLink="check-answer">comment</a></mat-icon>
    <mat-icon class="toolbar-icon">person_outline</mat-icon>
    
    <mat-icon class="toolbar-icon" (click)="logout()" aria-label="logout ">exit_to_app</mat-icon>
  </mat-toolbar-row>

</mat-toolbar>

<div class="content" role="main">

<router-outlet>

  <!-- EVERY Route goes here-->
  
  
</router-outlet>
</div>



