


<div class="truth-game-div">
    <div class="main-loader" *ngIf="isLoading == true else loadOff">
        <div class="ds-hourglass loader-flex"></div>
        <div class="loader-flex-2">Setting up your Playground</div>
    </div>

    <ng-template #loadOff>
    <div class="question-panel">
        <div class="auto-questions">
        <h3 style="margin-top: 20px;">Ask @{{selected_daree}} a Question</h3>
        <p>Let's pick a random truth question for you</p>
        <div *ngFor="let question of questions; let i=index">      

            <div class="player-bar" >
                <div style="font-weight:bold;"> {{question.content}}
                    <span style="float:right;">
                            <a><button class="select-button" (click)="autoTruthy(question)">Select</button></a>
                    </span>
                </div>
            </div>

        </div>
       

        <!-- <div class="player-bar" >
            <div style="font-weight:bold;"> Who is your father?
                <span style="float:right;">
                        <a><button class="select-button">Select</button></a>
                </span>
            </div>
        </div>

        <div class="player-bar" >
            <div style="font-weight:bold;"> Which side of the bed do you sleep?
                <span style="float:right;">
                        <a><button class="select-button">Select</button></a>
                </span>
            </div>
        </div> -->

        <button mat-raised-button style="margin: 10px 1px; color:gold" (click)="findQuestions()">Toss!</button>
        </div>
        



        <div class="custom-question">
            <p style="margin-top: 20px;">Ask your custom dare question rather </p>

            <form (submit)="truthyUser()">
                <mat-form-field appearance="outline" style="width:100%; color:white;" >
                    <mat-label style="color:white">My Question</mat-label>  
                    <textarea matInput required  rows="5" cols="50" minlength="30" [(ngModel)]="truth_content" placeholder="e.g. Tell me the truth about your mum" name="dare_content"></textarea>
                </mat-form-field>

                <button mat-raised-button type="submit" name="submit" >Ask! </button>
            </form>

        </div>
      
    </div>
    </ng-template>

   
    
</div>


