







<div id="login-main">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
         
          <a href="/"><h2>Realm</h2></a>
          <div class="spacer"></div>
          
  </div>
        
        
        <div class="content" role="main">
          <div class="item-1"> 
          <header class="header">
                <h2>Let's Game!</h2>
                <p>Create an account to get started </p>
            </header>
          </div>
          <div class="item-error" *ngIf="error.active"> 
            <p class="error"> {{error.message}}</p>
            </div>
  
  
            <div class="item-2">
            <!--<mat-card>-->
              <div class="spacer"></div>
  
                <form (submit) ="signup(loginForm)" #loginForm="ngForm">

                  <mat-form-field appearance="outline" style="width:300px" >
                    <mat-label>Player name</mat-label>
                    <input matInput placeholder='e.g. Titan007 ' type="text" ngModel name="username" required #username='ngModel' />
                    <mat-error *ngIf='username.invalid'> A Username is required</mat-error>
                  </mat-form-field>

                  <div class="spacer"></div>

                <mat-form-field appearance="outline" style="width:300px"  >
                  <mat-icon matPrefix>person_outline</mat-icon>
                  <mat-label style="color:#5D3B78 ;">Player Email</mat-label>
                  <input matInput placeholder='e.g. user@google.com' ngModel name="email" type="email" required #email='ngModel' style="color:#5D3B78;"/>
                  <mat-error *ngIf='email.invalid'> Email is required </mat-error>
                </mat-form-field>
                
                <div class="spacer"></div>
  
  
                <mat-form-field appearance="outline" style="width:300px" >
                    <mat-label>Password</mat-label>
                    <mat-icon matPrefix>vpn_key</mat-icon>
  
                  <input matInput placeholder="GU3SS_H@Rd_p@33w0rd" ngModel name="password" required #password='ngModel' type="password" />
                  <mat-error *ngIf='password.invalid'> Password is required </mat-error>
                </mat-form-field>
                <p style="text-align: right;"></p>
  
                    <button mat-raised-button color="primary" type="submit" [disabled]="onSubmit==true" class="login-button">Create an account</button>
              </form>
             <!-- <p> <a routerLink="../signup"> Don't have an account</a></p> -->
              <!--</mat-card>-->
             </div> 
          <div class="item-3">
          <p> Have an account? <a routerLink="../login">Log In</a></p>
  
          </div>
  
        
        
        </div>
  
  </div>


<script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',3339104,document.body||document.documentElement)</script>
  
  
  
  
  
  


