
@media screen and (max-width: 420px) {
  .content {
   
    background-position: bottom !important;
    
  }

}
*{

}

p, h2,h3, button, i{
  font-family: 'Montserrat', sans-serif;

}

.toolbar a{
  color:white;
  margin:2px 4%;  
  text-decoration: none;
}

  .toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #5D3B78;
    color: white;
    font-weight: 600;
  
  }


.login-main{
  height:100%;

}

.header{
  text-align: center;
  margin: 10% auto;
}

.header h2{
margin-bottom: 2px;
color: black;

}


.header span{
  color: #5D3B78;
  }


input[type="submit"]{
width: 300px;
height: 40px;
border:none;
color: white;
background:#D8C99B;
cursor: pointer;
border-radius: 30px;
}

.formsection{
margin-left:auto;
margin-right:auto;
width:30%;
display: flex;
justify-content: center;

}


.error-box{
  color:red;
  margin-bottom: 10px;
  text-align: center;
  border-bottom:1px solid red;

}



.content {
  display: flex;
  /*margin: 60px auto 32px;*/
  padding: 0 50px;
  /*max-width: 960px;*/
  flex-direction: column;
  align-items: center;
  background: url("../../assets/bg-image.png");  
  background-repeat: no-repeat;
  background-position: top right;
  justify-content: center;
  height:90%;
  position: relative;
  
}

#login-main{
  height:100%;
}


.item-1{
order:1;
padding:10px;
padding: 0px 5px;
border-radius: 5px;
margin-bottom: 8px;
}

.item-2{
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  order:2;
  margin-bottom: 20px;
width: auto;

}


.item-3{
  padding:10px;
  
  padding: 5px;
  border-radius: 5px;
  order: 3;

}
.mat-card{


}



.spacer{
  height:10px;
}

.login-button{
  width:100%;
  background:#5D3B78;
  border-radius: 20px;
}

.item-error{
  color: white;
  order:1;
  padding:5px 12px;
  margin-bottom: 11px;
  border-radius: 3px;

  border:1px solid rgb(141, 8, 8);
  background:rgb(141, 8, 8)
}