<div class="check-answer-div">

    <div class="main-loader" *ngIf="isLoading == true else noLoader">

        <div class="ds-hourglass loader-flex"></div>
        <div class="loader-flex-2">Checking your Quests. Loading Quests... </div>

    </div>


    <ng-template #noLoader>

        <div *ngIf="quests == null" class="no-quest">
            <button mat-button class="mat-raised-button" disabled>No quests for now. Check back later.</button>
        </div>



        <!--LIST OF QUESTS// CHAT DESIGN PANEL COMES HERE-->
        <div class="quests">
            <h3>Quests Chats</h3>
            <mat-accordion class="mat-accordion">
                <mat-expansion-panel style="margin-bottom:10px;" *ngFor="let quest of quests">
                    <mat-expansion-panel-header>
                        
                        <span *ngIf="quest.question.type =='DARE'" class="dare">
                            {{quest.question.type}}
                        </span>
                        <span *ngIf="quest.question.type =='TRUTH'" class="truth">
                            {{quest.question.type}}
                        </span> 
                        <p>{{quest.darer_data.username}} challenged <b>{{quest.daree_data.username}} </b>
                             <span *ngIf="quest.answer==null">&nbsp;(Unread...)</span>
                        </p>
                    </mat-expansion-panel-header>

                    <p *ngIf="quest.answer==null">Waiting for @{{quest.daree_data.username}}....</p>
                    <p><b>QUESTION:</b> {{quest.question.content}}</p>
                    <p><button *ngIf="user_id == quest.daree_data.uid && quest.answer == null" mat-raised-button (click)="replyChallenge(quest)">Reply</button></p>
                  
                    <div *ngIf="quest.answer != null">
                        <p><b>ANSWER:</b> {{quest.answer.text}}</p>
                        <img src ="{{quest.answer.proof}}" style="width:90%; height:200px;"/>
                    </div>
                  
                </mat-expansion-panel>
            </mat-accordion>
            
        </div>


    </ng-template>

</div>