<div>
    <h2>QUESTS</h2>

<p *ngIf="isLoading == true">
Checking your group. Loading Quests...
</p>
<p *ngIf="quests == null && isLoading ==false">No quests for now</p>


<ol>

<div *ngFor="let quest of quests" >
<li style="margin-bottom: 20px;">
    <p><u>{{quest.darer_data.username}} <b>TO</b> {{quest.daree_data.username}}</u></p>
    <p><b>TYPE: </b> {{quest.question.type}}</p>
    <p><b>QUESTION:</b> {{quest.question.content}}</p>
    <p *ngIf="quest.answer==null">Waiting the truth....</p>
    <p *ngIf="user_id == quest.daree_data.uid && quest.answer == null"><button mat-raised-button (click)="replyChallenge(quest)">REPLY</button></p>

</li>

</div>
</ol>

</div>
