
<div class="profile-div">
<div class="user-profile">
<h2>Your Profile is coming Soon!</h2>
<p>Check back later for this feature.</p>
  <p> Before then, enjoy the <a routerLink="/app">GAME</a> or check out this platform <a href="https://www.inwritten.com">INWRITTEN</a></p>
</div>

<!-- <mat-card class="user-profile">
    <mat-card-header>
        <mat-card-title>User Settings</mat-card-title>
        <mat-card-subtitle>Change to a new username or email</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field appearance="outline" style="width:100%"  >
              <mat-icon matPrefix>person_outline</mat-icon>
              <mat-label style="color:#5D3B78 ;">New Email</mat-label>
              <input matInput placeholder='new email' ngModel name="email" type="email" required #email='ngModel' style="color:#5D3B78;"/>
              <mat-error *ngIf='email.invalid'> email is required </mat-error>

            </mat-form-field>
            

            <mat-form-field appearance="outline" style="width:100%" >
                <mat-label>New Username</mat-label>
                <mat-icon matPrefix>person_outline</mat-icon>

              <input matInput placeholder="username" ngModel name="username" required #username='ngModel' type="password" />
              <mat-error *ngIf='username.invalid'> username is required </mat-error>
            </mat-form-field>

          </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" style="float:right; background-color:#5D3B78;">Save Changes</button>
    </mat-card-actions>    
</mat-card>




<mat-card class="password-settings">
    <mat-card-header>
        <mat-card-title>Password Settings</mat-card-title>
        <mat-card-subtitle>Set a new password</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field appearance="outline" style="width:100%"  >
              <mat-icon matPrefix>vpn_key</mat-icon>
              <mat-label style="color:#5D3B78 ;">Old password</mat-label>
              <input matInput placeholder='Email' ngModel name="email" type="email" required #old_password='ngModel' style="color:#5D3B78;"/>
            </mat-form-field>
            
            <mat-form-field appearance="outline" style="width:100%"  >
                <mat-icon matPrefix>vpn_key</mat-icon>
                <mat-label style="color:#5D3B78 ;">New password</mat-label>
                <input matInput placeholder='Email' ngModel name="email" type="email" required #new_password='ngModel' style="color:#5D3B78;"/>
                <mat-error *ngIf='new_password.invalid'> Password is required </mat-error>
 
            </mat-form-field>
            
              
            <mat-form-field appearance="outline" style="width:100%" >
                <mat-label>Confirm Password</mat-label>
                <mat-icon matPrefix>vpn_key</mat-icon>

              <input matInput placeholder="Password" ngModel name="password" required #confirm_password='ngModel' type="password" />
              <mat-error *ngIf='confirm_password.invalid'> Password is required </mat-error>
            </mat-form-field>

          </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" style="float:right; background-color:#5D3B78;">Change password</button>
    </mat-card-actions>      
</mat-card> -->

</div>
