<div class="play-game-div">


    <div class="main-loader" *ngIf="isLoading == true else noLoader">

        <div class="ds-hourglass loader-flex"></div>
        <div class="loader-flex-2">Setting up your Playground</div>

    </div>


    <ng-template #noLoader>
        <div class="no-game" *ngIf="active_game == false">
            <div class="welcome" *ngIf="notification == true">
                <!--SET THIS FOR NOTIF DATA WITH A CLOSE BUTTON-->
                <p>Howdy <b>{{my_username}}</b> <button mat-icon-button (click)="closeNotif()">
                        <mat-icon>close</mat-icon>
                    </button> </p>
            </div>
            <div class="no-game-section">

                <div class="create-game">
                    <h2 style="color:white;"> Start a new Game or join friends!</h2>
                    <div class="introduction">
                       <p><b>TIPS</b>: Start a game and share your <b>invite key</b> with friends to join the Group or Punch in a friend's invite key to join a Group </p> 
                       <!-- Share your profile link to get responses from your friend. Go to "View Messages" to check out the responses.-->
                                        </div>

                    <button mat-button class="mat-raised-button" (click)="createGame()">
                        <mat-icon>touch_app</mat-icon> {{game_mode_text}}
                    </button>

                </div>

                <div class="join-game">
                    <button mat-button class="mat-raised-button"  (click)="insertKey()">
                        <mat-icon>settings_remote</mat-icon> Join a Group
                    </button>

                </div>

            </div>
        </div>


        <div class="game-panel" *ngIf="active_game == true">
            <div class="welcome" *ngIf="notification == true">
                <p>
                    <mat-icon>notifications_outline</mat-icon>
                    <span >You have an <a routerLink="check-answer">unread</a> challenge.</span>


                    <button mat-icon-button (click)="closeNotif()">
                        <mat-icon>close</mat-icon>
                    </button>
                </p>
                <!--SET THIS FOR NOTIF DATA WITH A CLOSE BUTTON-->
            </div>



            <div class="game-page">
                <div class="game-actions">
                    <h3>Your Invite Key is {{invite_code}}</h3>
                        <button mat-button style="color:white; background:gold" type="submit" (click)="copyToClipboard(invite_code)">
                            <mat-icon>share</mat-icon> <span style="margin-left:5px;color:white">Share invite key with friends</span>
                        </button>

                    <!-- <span> Check Quests</a> here</span> -->
                </div>

                <div class="game-players">
                    <h2>Group Members</h2>
                    <p>These are the member of group <b>{{invite_code}}</b>. Ask anyone any question.</p>
                    <div class="player-bar" *ngFor="let player of members">
                        <div style="font-weight:bold;"> {{player.email==my_email? "YOU":player.username}} &nbsp;
                            &nbsp; &nbsp;
                            &nbsp; &nbsp;
                            <div *ngIf="my_email != player.email" style="float:right;">
                                <span>
                                    <a [routerLink]="['truth-options',my_uid, player.uid ]"><button
                                            class="truth-button">Truth</button></a></span> &nbsp;
                                &nbsp;<span><a [routerLink]="['dare-options', my_uid, player.uid]"><button
                                            class="dare-button">Dare</button></a></span>
                            </div>
                        </div>

                    </div>
                    <button mat-raised-button style="color:red; margin-top:15px; width:40%" type="submit"
                        (click)="leaveGame()">{{leave_game}}</button>


                </div>






            </div>
        </div>
    </ng-template>

</div>