<div class="play-game-div">
<h2>{{title}}</h2>




<div *ngIf="active_game == false">

<p>Loading...</p>    
            
</div>




<div *ngIf="active_game == null">

<button (click)='createGame()'>START GAME</button>
<button (click)="open_box()" >Add Link</button>
<p *ngIf="open_join_game_id">
<input type="text" [(ngModel)]="join_game_id" />
<button (click)="joinGame()">JOIN GAME</button>
</p>
</div>

<div *ngIf="active_game == true">
<h3>Players Lists</h3>

<div *ngFor="let player of members">
    <p> USER: {{player}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>
        <a routerLink= "['truth-options', {{player}}, 'details']">TRUTH</a></span> &nbsp;or  &nbsp;<span><a routerLink="dare-options">DARE</a></span></p>
</div>

</div>

</div>