<div class="play-game-div">
    <h2>Welcome {{me.email}}</h2>




    <div *ngIf="isLoading == true">

        <p>Loading...</p>

    </div>

    <div *ngIf="game.isLocked=='LOCKED'">
    <p>THE GAME IS STATE IS CURRENTLY: <b>{{game.isLocked}}</b></p>
    </div>

    <div *ngIf="pendingAction==true">
        <p>Someone <a routerLink="check-answer">challenged</a> you. Reply to unlock the group</p>
        </div>

    <div *ngIf="active_game == null">
        <button (click)='createGame()'>START GAME</button>
        <button (click)="open_box()">Add Link</button>
        <p *ngIf="open_join_game_id">
            <input type="text" [(ngModel)]="join_game_id" />
            <button (click)="joinGame()">JOIN GAME</button>
        </p>
    </div>

    <div class="game-panel" *ngIf="active_game == true">
        <h3>Game Members</h3>
        <hr>
        <!--{{me.email}}-->
        <div *ngFor="let player of members">
            <div> USER: {{player.email==me.email? "ME "+(player.email):player.email}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                    <div *ngIf="me.email != player.email" style="float:right;">
                        <span>
            <a [routerLink]="['truth-options',me.uid, player.uid ]">TRUTH</a>
                </span> &nbsp;or
                &nbsp;<span><a [routerLink]="['dare-options', me.uid, player.uid]">DARE</a></span>
        </div>
    </div>

</div>

</div>