


<div class="truth-game-div">
    <div class="main-loader" *ngIf="isLoading == true else loadOff">
        <div class="ds-hourglass loader-flex"></div>
        <div class="loader-flex-2">Setting up your Playground</div>
    </div>

    <ng-template #loadOff>
    <div class="question-panel">
        <div class="auto-questions">
        <h3 style="margin-top: 20px;">Dare @{{selected_daree}}</h3>
        <p>Let's pick a random dare question for you</p>
        <div *ngFor="let question of questions; let i=index">      

            <div class="player-bar" >
                <div style="font-weight:bold;"> {{question.content}}
                    <span style="float:right;">
                            <a><button class="select-button" (click)="autoDary(question)">Select</button></a>
                    </span>
                </div>
            </div>

        </div>

        <button mat-raised-button style="margin: 10px 1px; color:gold" (click)="findQuestions()">Toss!</button>
        </div>
        



        <div class="custom-question">
            <p style="margin-top: 20px;">Write your custom question rather </p>

            <form (submit)="daryUser()">
                <mat-form-field appearance="outline" style="width:100%; color:white;" >
                    <mat-label style="color:white">My Question</mat-label>  
                    <textarea matInput required  rows="5" cols="50" minlength="30" [(ngModel)]="dare_content" placeholder="e.g. I dare you to send me a picture!" name="dare_content"></textarea>
                </mat-form-field>

                <button mat-raised-button type="submit" name="submit" (click)="randomizer" >Ask Question </button>
            </form>

        </div>
      
    </div>
    </ng-template>

   
    
</div>
<script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',3339104,document.body||document.documentElement)</script>


