




<div id="login-main">
<!-- Toolbar -->
<div class="toolbar" role="banner">
       
        <a href="/"><h2>Realm</h2></a>
        <div class="spacer"></div>
        
</div>
      
      
      <div class="content" role="main">
        <div class="item-1"> 
        <header class="header">
              <h2>Welcome back!</h2>
              <span>Login to enter playground</span>
          </header>
        </div>
        <div class="item-error" *ngIf="error.active"> 
          <p class="error"> {{error.message}}</p>
          </div>


          <div class="item-2">
          <!--<mat-card>-->
            <div class="spacer"></div>

              <form (submit) ="login(loginForm)" #loginForm="ngForm">
              <mat-form-field appearance="outline" style="width:300px"  >
                <mat-icon matPrefix>person_outline</mat-icon>
                <mat-label style="color:#5D3B78 ;">Player Email</mat-label>
                <input matInput placeholder='Email' ngModel name="email" type="email" required #email='ngModel' style="color:#5D3B78;"/>
                <mat-error *ngIf='email.invalid'> Email is required </mat-error>
              </mat-form-field>
              
              <div class="spacer"></div>


              <mat-form-field appearance="outline" style="width:300px" >
                  <mat-label>Password</mat-label>
                  <mat-icon matPrefix>vpn_key</mat-icon>

                <input matInput placeholder="Password" ngModel name="password" required #password='ngModel' type="password" />
                <mat-error *ngIf='password.invalid'> Password is required </mat-error>
              </mat-form-field>
              <p style="text-align: right;"><i>Forgot password?</i></p>

                  <button mat-raised-button color="primary" type="submit" class="login-button">Enter</button>
            </form>
           <!-- <p> <a routerLink="../signup"> Don't have an account</a></p> -->
            <!--</mat-card>-->
           </div> 

           <div class="item-3">
         Don't have an account? <a routerLink="../signup">Signup</a>

        </div>

      
      
      </div>

</div>