.modal-main{
    /* background:#BBC6D9;
    background-position: top right; */
    background:white;
}

.modal-main button{
    color:white;
    background:yellow;
}

.modal-main input{
    color:#908CB1;
}
p, h2,h3, button, i, div{
    font-family: 'Montserrat', sans-serif;
  
  }

  .login-button{
      background-color: seagreen !important;
  }
  .share-button{
      width:100%;
      margin-bottom:15px;
  }

  .whatsapp{
      background:green !important;

  }

  span{
      margin-bottom:20px !important;
  }
  h2, h3{
      margin-bottom:10px;
  }